<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>729307423539-iqv5q5pgcim6odcb1v10poj1p26rbkiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729307423539-iqv5q5pgcim6odcb1v10poj1p26rbkiv</string>
	<key>API_KEY</key>
	<string>AIzaSyB0mOofVxBiKVrkot7-uwEctOgG7csJvxg</string>
	<key>GCM_SENDER_ID</key>
	<string>729307423539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamboVIsal.vKdemo</string>
	<key>PROJECT_ID</key>
	<string>vkapp-6ac34</string>
	<key>STORAGE_BUCKET</key>
	<string>vkapp-6ac34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729307423539:ios:541211d60b405eab</string>
	<key>DATABASE_URL</key>
	<string>https://vkapp-6ac34.firebaseio.com</string>
</dict>
</plist>